@import '../variables';

.stock-card {
    display: flex;
    margin: 5px;
    background: white;
    min-height: 105px;
}
    .stock-card-left {
        width: 80px;

        display: flex;
        align-items: center;
        position: relative;
    }

    .stock-card-right {
        flex-grow: 1;
        padding: 10px;
    }

.stock-title {
    font-size: 1.3em;
    color: $dark-blue;
    text-transform: uppercase;
    margin-bottom: 0;
    font-weight: bold;
}

.stock-symbol-label {
    font-size: 0.8em;
    text-transform: uppercase;
    line-height: .7em;
    color: $charcoal;
    opacity: 0.7;
}

.stock-price {
    font-size: 1.3em;
    color: $dark-blue;
    margin-top: 5px;
}
    .stock-price-change {
        font-size: .7em;
        font-weight: bold;
    }

.stock-recent-performance {
    color: $charcoal;
    font-size: .7em;
}
    .stock-recent-performance-detail {
        margin-right: 5px;
    }

.positive-performance {
    color: $bright-green;
}

.negative-performance {
    color: $bright-red;
}

@media only screen and (max-width: 600px) {
    .stock-card-right {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding-left: 20px;
        padding-right: 20px;
    }

    .stock-price {
        display: flex;
        flex-direction: column;
        text-align: right;
    }

    .stock-card-left {
        display: none;
    }
}

// @TODO - add styles for the stock graph
